<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Orders</title>'
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/requests.css"/>
</head>
<body>
<div class="navBar">
  <div class="Username">Peter Kawinsky</div>
  <div class="nav">
    <button>Products</button>
    <button>Stocks</button>
    <button>Customers</button>
    <button>Orders</button>
    <button class="activeButton">Requests</button>
    <button>Log out</button>
  </div>
</div>
<div class="content">
  <form class="registerBox" method="post" action="adminRequests/registerBox">
    <h1>Request a new stock:</h1>
    <div class="form">
      <label>Product</label>
      <select name="productId" onchange=this.form.submit()>
        <option disabled th:selected="${productSelected.name == null}">Select...</option>
        <option th:each="product : ${products}" th:text="${product.name}" th:value="${product.id}" th:selected="${product.name == productSelected.name}"></option>
      </select>
      <label>Supplier</label>
      <div class="fakeInput" th:text="${productSelected.supplier}"></div>
      <div class="horizontalStuff">
        <div class="verticalStuff">
          <label>Amount:</label>
          <input type="number" name="amount"/>
        </div>
        <div class="verticalStuff">
          <label>Unit:</label>
          <div class="fakeInput shorter" th:text="${productSelected.unit}"></div>
        </div>
      </div>
    </div>
    <button name="action" value="manual">Request</button>
  </form>
  <div class="infoBox">
    <form class="searchBox" action="/adminRequests/SearchBox" method="post">
      <input type="number" id="searchRequestInput" name="idInput" placeholder="0"/>
      <button name="action" value="search">search</button>
      <button name="action" value="pending" th:classappend="${isPending? ' activeButton' : ''}">pending</button>
    </form>
    <div class="cardCatalog">
      <div class="requestCard" th:each="request : ${requests}" th:if="${isEditCard == false}" th:classappend="${request.complete ? 'completed' : ' '}">
        <div class="horizontalStuff">
          <div class="marginRight">
            <p th:text="${request.product.name}">Kavum</p>
            <p>Amount</p>
            <p>Supplier</p>
          </div>
          <div>
            <p th:text="'ID: ' + ${request.requestId} + ' | Group: ' + ${request.firstRequestId}">(0294849580235)</p>
            <p th:text="': ' + ${request.complete ? request.fullAmountRequested : request.amountToBeFilled}">: 80</p>
            <p th:text="': ' + ${request.product.supplier}">: Apple</p>
          </div>
        </div>
        <form method="post" action="/adminRequests/editOrDelete">
          <input type="hidden" name="idOfCard" th:value="${request.requestId}"/>
          <button name="action" value="edit" th:if="${request.complete == false}">Edit</button>
          <button name="action" value="delete">Delete</button>
        </form>
      </div>
        <form class="requestCard edit" th:if="${isEditCard}" method="post" action="/adminRequests/editCardSave">
          <div>
          <div class="horizontalStuff">
            <p>Product: </p>
            <div class="fakeInput horizontalFakeInput" th:text="${editCardRequest.product.name}"></div>
            <p th:text="' (' + ${editCardRequest.requestId} + ')'"></p>
          </div>
          <div class="horizontalStuff">
            <p>Amount: </p>
            <input type='number' name="productAmount">
          </div>
          </div>
        <button type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>